<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<button id="add-credential-btn"
        type="button"
        class="btn btn-outline-info float-right my-3"
        onclick="showCredentialModal()">
    <i class="fas fa-key mr-1"></i> Add a New Credential
</button>

<div class="table-responsive">
    <table class="table table-striped" th:object="${credentials}" id="credentialTable">
        <thead>
        <tr>
            <th style="width: 20%" scope="col"></th>
            <th style="width: 35%" scope="col">URL</th>
            <th style="width: 20%" scope="col">Username</th>
            <th style="width: 25%" scope="col">Password</th>
        </tr>
        </thead>
        <tbody>

        <!--/*@thymesVar id="credential" type="com.udacity.jwdnd.course1.cloudstorage.model.Credential"*/-->
        <tr th:each="credential:${credentials}" th:id="${credential.getCredentialId()}">
            <td>
                <button type="button"
                        th:id="'credential-btn-edit-'+ ${credential.getCredentialId()}"
                        th:data-id="${credential.getCredentialId()}"
                        onClick="fetchCredentialData(this)"
                        class="btn btn-outline-success btn-sm">
                    <i class="fas fa-edit mr-1"></i>Edit
                </button>
                <a th:id="'credential-btn-delete-'+${credential.getCredentialId()}"
                   class="btn btn-outline-danger btn-sm"
                   th:href="@{/credentials/delete(id=${credential.getCredentialId()})}">
                    <i class="fas fa-trash mr-1"></i>Delete
                </a>
            </td>
            <th scope="row"
                th:id="'credential-url-'+${credential.getCredentialId()}"
                th:text="${credential.getUrl()}">Example Credential URL
            </th>
            <td th:id="'credential-username-'+${credential.getCredentialId()}"
                th:text="${credential.getUserName()}">Example Credential Username
            </td>
            <td th:id="'credential-password-'+${credential.getCredentialId()}"
                th:text="${credential.getPassword()}">Example Credential Password
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="credentialModal" tabindex="-1" role="dialog"
     aria-labelledby="credentialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--/*@thymesVar id="Credential" type="com.udacity.jwdnd.course1.cloudstorage.model.Credential"*/-->
                <form th:action="@{'/credentials'}" th:object="${Credential}" action="#" method="POST">
                    <input type="hidden" name="credentialId" id="credential-id">
                    <div class="form-group">
                        <label for="note-title" class="col-form-label">URL</label>
                        <input type="text"
                               th:field="*{url}"
                               name="url"
                               class="form-control"
                               id="credential-url"
                               maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label for="note-title" class="col-form-label">Username</label>
                        <input type="text"
                               th:field="*{userName}"
                               name="username"
                               class="form-control"
                               id="credential-username"
                               maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="note-title" class="col-form-label">Password</label>
                        <input type="text"
                               th:field="*{password}"
                               name="password"
                               class="form-control"
                               id="credential-password"
                               maxlength="30" required>
                    </div>
                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button"
                        id="submit-credential-btn"
                        class="btn btn-primary"
                        onclick="$('#credentialSubmit').click();">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

</html>
