<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<form th:action="@{'/files'}" action="#" enctype="multipart/form-data" method="POST">
    <div class="container">
        <div class="row" style="margin: 1em;">
            <div class="col-sm-2">
                <label for="fileUpload">Upload a New File:</label>
            </div>
            <div class="col-sm-6">
                <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
            </div>
            <div class="col-sm-4 ">
                <button type="submit" class="btn btn-outline-dark"><i class="fas fa-upload mr-1"></i>Upload</button>
            </div>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped" id="fileTable">
        <thead>
        <tr>
            <th style="width: 20%" scope="col"></th>
            <th style="width: 80%" scope="col">File Name</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="files" type="com.udacity.jwdnd.course1.cloudstorage.model.File"*/-->
        <tr th:each="file:${files}">
            <td>
                <a target="_blank"
                   class="btn btn-success btn-sm mr-1"
                   th:href="@{/files/view(id=${file.getFileId()})}"
                   href="#"><i class="fas fa-download mr-1"></i>Download</a>
                <a class="btn btn-danger btn-sm"
                   href="#" th:href="@{/files/delete(id=${file.getFileId()})}">
                    <i class="fas fa-trash mr-1"></i>Delete</a>
            </td>
            <!--/*@thymesVar id="file" type="com.udacity.jwdnd.course1.cloudstorage.model.File"*/-->
            <th scope="row" th:text="${file.getFileName()}">ExampleFile.txt</th>
        </tr>
        </tbody>
    </table>
</div>

</html>
