<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">


<button id="addNoteBtn"
        type="button"
        class="btn btn-outline-info float-right my-3"
        onclick="showNoteModal(this)">
    <i class="far fa-sticky-note mr-1"></i> Add a New Note
</button>

<!--region Note-table-->
<div class="table-responsive">
    <table class="table table-striped" id="noteTable">
        <thead>
        <tr>
            <th style="width: 20%" scope="col"></th>
            <th style="width: 20%" scope="col">Title</th>
            <th style="width: 60%" scope="col">Description</th>
        </tr>
        </thead>
        <tbody>

        <!--/*@thymesVar id="note" type="com.udacity.jwdnd.course1.cloudstorage.model.Note"*/-->
        <!--/*@thymesVar id="notes" type="com.udacity.jwdnd.course1.cloudstorage.model.Note"*/-->

        <tr th:each="note:${notes}" th:id="'note-'+ ${note.getNoteId()}">
            <td>
                <div class="nav">
                    <button class="btn btn-outline-success btn-sm nav-item mr-1"
                            th:id="'note-btn-edit-'+ ${note.getNoteId()}"
                            th:data-id="${note.getNoteId()}"
                            th:data-title="${note.getNoteTitle()}"
                            th:data-desc="${note.getNoteDescription()}"
                            onclick="showNoteModal(this)"
                            type="button">
                        <i class="fas fa-edit mr-1"></i>Edit
                    </button>
                    <form class="nav-item" action="#" th:action="@{'/notes/delete'}" method="get">
                        <input type="hidden" name="id" th:value="${note.getNoteId()}">
                        <button th:id="'note-btn-delete-'+ ${note.getNoteId()}"
                                type="submit"
                                class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash mr-1"></i>Delete
                        </button>
                    </form>
                </div>

            </td>
            <th th:id="'note-title-'+${note.getNoteId()}" th:text="${note.getNoteTitle()}" scope="row">
                Example Note Title
            </th>
            <td th:id="'note-desc-'+${note.getNoteId()}" th:text="${note.getNoteDescription()}">
                Example Note Description
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- endregion-->

<!--region Modal-form-->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--/*@thymesVar id="Note" type="com.udacity.jwdnd.course1.cloudstorage.model.Note"*/-->
                <form th:object="${Note}" action="#" th:action="@{'/notes'}" method="POST">
                    <input type="hidden" name="nodeId" th:field="*{noteId}" id="note-id">
                    <div class="form-group">
                        <label for="note-title" class="col-form-label">Title</label>
                        <input type="text" th:field="*{noteTitle}" name="noteTitle" class="form-control" id="note-title"
                               maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <label for="note-description" class="col-form-label">Description</label>
                        <textarea class="form-control" th:field="*{noteDescription}" name="noteDescription" id="note-description"
                                  rows="5" maxlength="1000" required></textarea>
                    </div>
                    <button id="noteSubmit" type="submit" class="d-none"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>
<!--endregion-->
</html>
