.bg-img-hero-fixed {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.space-4,
.space-top-4 {
    padding-top: 12.5rem !important;
}
