<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Content not found !!!!</title>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/404.css"
          th:href="@{/css/404.css}">


</head>
<body class="bg-img-hero-fixed"
      style="background-image: url(../static/svg/error-404.svg);"
      th:style= "'background-image: url(/svg/error-404.svg)'">

<div class="d-lg-flex">
    <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh space-4">
        <div class="w-lg-60 w-xl-50">
            <!-- Title -->
            <div class="mb-5">
                <h1 class="text-primary font-weight-normal">Page not <span class="font-weight-semi-bold">found</span>
                </h1>
                <p class="mb-0">Oops! Looks like you followed a bad link.</p>
                <p>If you think this is a problem with us, please <a href="#">tell us</a>.</p>
            </div>
            <!-- End Title -->

            <a class="btn btn-primary btn-wide transition-3d-hover" href="/home">Go Back</a>
        </div>
    </div>
</div>

</body>
</html>
