<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">

<div class="container">
    <header class="navbar" id="logoutDiv">
        <h2 class="h4 text-secondary">
            <i class="far fa-user mr-1"></i>
            <span th:text="${welcome}">Welcome</span>
        </h2>

        <div class="alert alert-warning alert-dismissible fade show" th:if="${errorMsg}" role="alert">
            <span id="errorMsg" th:text="${errorMsg}"> went wrong. Tray again!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-success alert-dismissible fade show" th:if="${successMsg}" role="alert">
            <span id="successMsg" th:text="${successMsg}">Here comes the success-message</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form action="#" th:action="@{'/logout'}" method="POST">
            <button id="logoutBtn" type="submit" class="btn btn-link float-right">
                <i class="fas fa-sign-out-alt mr-1"></i>Logout
            </button>
        </form>
    </header>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab"
                   aria-controls="nav-files" aria-selected="true">Files</a>
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab"
                   aria-controls="nav-notes" aria-selected="false">Notes</a>
                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials"
                   role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <!--region Files-->
            <div th:insert="/fragement/files"
                 class="tab-pane fade show active" id="nav-files" role="tabpanel"
                 aria-labelledby="nav-files-tab">
                <h3 class="text-center mt-5"> Files - table </h3>
            </div>
            <!--endregion-->
            <!-- region Notes-->
            <div th:insert="/fragement/notes"
                 class="tab-pane fade" id="nav-notes" role="tabpanel"
                 aria-labelledby="nav-notes-tab">
                <h3 class="text-center mt-5"> Notes - table </h3>
            </div>
            <!--endregion-->
            <!--region Credentials-->
            <div th:insert="/fragement/credentials"
                 class="tab-pane fade" id="nav-credentials" role="tabpanel"
                 aria-labelledby="nav-credentials-tab">
                <h3 class="text-center mt-5"> credentials - table </h3>
            </div>
            <!--endregion-->
        </div>
    </div>
</div>

<script src="../static/js/jquery-slim.min.js" th:src="@{/js/jquery-slim.min.js}"></script>
<script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/73066b73c1.js" crossorigin="anonymous"></script>

<script type="text/javascript">

    // navigate by hash
    //todo: works only on 2nd refresh check why
    $(document).ready(() => {
        const hash = $(location).attr('hash');
        $(hash).tab('show');
    })

    // For opening the note modal
    function showNoteModal(ref) {

        $('#note-id').val(ref.getAttribute('data-id') ? ref.getAttribute('data-id') : '');
        $('#note-title').val(ref.getAttribute('data-title') ? ref.getAttribute('data-title') : '');
        $('#note-description').val(ref.getAttribute('data-desc') ? ref.getAttribute('data-desc') : '');
        $('#noteModal').modal('show');
    }

    // fetch decrypted credential data by async call
    async function fetchCredentialData(ref) {
        const id = ref.getAttribute('data-id')
        let port = location.port;
        let response = await fetch('http://localhost:' + port +
            '/credentials/async/getDecryptedCredential?credentialId=' + id);
        if (response.ok) {
            let data = await response.json();
            let resultData = JSON.parse(JSON.stringify(data));
            showCredentialModal(resultData);
        }
        //not authorized !!!
        if (response.status == 401) {
            let data = await response.json();
            let resultData = JSON.parse(JSON.stringify(data));
            $("header>h2").after(
                "<div class='alert alert-warning'>" + resultData.errorMsg + "</div>");
        }
    }

    // For opening the credentials modal
    function showCredentialModal(credential) {
        if (credential) {
            $('#credential-id').val(credential.id);
            $('#credential-url').val(credential.url);
            $('#credential-username').val(credential.username);
            $('#credential-password').val(credential.password);
        } else {
            $('#credential-id').val('');
            $('#credential-url').val('');
            $('#credential-username').val('');
            $('#credential-password').val('');
        }
        $('#credentialModal').modal('show');
    }
</script>
</body>
</html>
