<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Sign Up</title>
</head>
<!--/*@thymesVar id="user" type="com.udacity.jwdnd.course1.cloudstorage.model.User"*/-->
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">
    <div class="form-group">
        <label><a th:href="@{/login}" id="backToLogin">Back to Login</a></label>
    </div>

    <h1 class="display-5">Sign Up</h1>
    <form th:object="${user}" action="#" th:action="@{/signup}" method="POST">

        <div class="alert alert-success" id="successMsg" th:if="${success}">
            <p>You successfully signed up!</p>
            <p>You are redirected to <a href="/login">login page</a> in <span id="redirect">3</span>
                seconds.</p>
        </div>

        <div class="alert alert-danger" id="errorMsg" th:if="${errorMsg != null}" th:text="${errorMsg}">
            Example Signup Error Message
        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputFirstName">First Name</label>
                <input type="input" th:field="*{firstName}" name="firstName"
                       class="form-control" id="inputFirstName"
                       placeholder="Enter First Name" maxlength="20" required>
            </div>

            <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input type="input" th:field="*{lastName}" name="lastName"
                       class="form-control" id="inputLastName"
                       placeholder="Enter Last Name" maxlength="20" required>
            </div>

        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputUsername">Username</label>
                <input type="input" th:field="*{userName}" name="userName"
                       class="form-control" id="inputUserName"
                       placeholder="Enter Username" maxlength="20" required>
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" th:field="*{password}" name="password"
                       class="form-control" id="inputPassword"
                       placeholder="Enter Password" maxlength="20" required>
            </div>

        </div>

        <button type="submit" id="signUpBtn" class="btn btn-primary">Sign Up</button>

    </form>
</div>
<script src="../static/js/jquery-slim.min.js" th:src="@{/js/jquery-slim.min.js}"></script>
<script type="text/javascript">
    $(document).ready(() => {
            if ($('#successMsg').html() !== undefined) {
                let i = 3
                setInterval(() => {
                    $("span#redirect").html(i);
                    i -= 1;
                    if (i === 0) {
                        location.href =
                           "http://localhost:" + location.port + "/login";

                    }
                }, 1000)
            }
        }
    )
</script>
</body>
</html>
